* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
body {
  background:#f9d1ae;
}
.heigth-100 {
  height: 100vh;
}
.width-100 {
  width: 100%;
}
.icon-x {
  height: 200px;
  width: 200px;
  background-color:  #64b1ae;
}
.float-left {
  float: left;
  overflow: auto;
}
.float-rigth {
  float: right;
  overflow: auto;
}
.with-100 {
  width: 100%;
}
.pd-t-5 {
  padding-top: 5vh;
}
.pd-l-2 {
  padding-left: 1.5vw;
}
.bg-white {
  background-color: #fff;
}
.width-65 {
  width: 65%;
}
.width-35 {
  width: 35%;
}
.width-33 {
  width: 33%
}